<div class="container">
    <!-- Main Content Section -->
    <div class="row">
        <div class="col-12">
            <div class="logo">
                <img src="assets/images/logo.jpeg" alt="Logo" routerLink="/" >
            </div>
        </div>
    <div class="col-md-6 mb-4 col1">
        <app-image-box-controll [file]="file"></app-image-box-controll>
    </div>
      <!-- Personal Info Form -->
        <div class="col-md-6 mb-4">
            <div class="alert alert-primary" role="alert">
               
                <strong>Shortcuts</strong><br>
                <span class="badge bg-primary">A</span> Copy
                <span class="badge bg-primary">+</span> Zoom in 
                <span class="badge bg-primary">-</span> Zoom out 
              </div>
              
            <app-data-form (sendFileToParent)="this.file = $event"></app-data-form>
        </div>
    </div>
</div>
  