
.logo img {
    margin: auto;
    margin-bottom: 30px;
    display: block;
    cursor: pointer;
    width: 200px;
}


.col1{
    display: flex;
    align-items: center;
    flex-direction: column;
    .box {
        width: 100%; /* Set the width of the image container */
        height: 500px; /* Set the height of the image container */
        overflow: auto; /* Hide any content that exceeds the container's dimensions */
        position: relative; /* Positioning context for absolutely positioned children (like the image) */
        background: white;
        box-shadow: -5px 3px 5px 0px rgba(0,0,0,0.18);
    }
    img{
        width: 100%; /* Ensure the image takes up 100% of its parent container's width */
        height: auto; /* Allow the height to adjust proportionally based on width */
        transform-origin: center center ; /* Set the transform origin to the top left corner */
        transition: transform 0.6s ease;
        position: absolute;
        //right: 50%;
        //transform: translate(50%,0);
    }
}

.image-settings {
    text-align: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 20;
    background-color: #E3E3F0;
    box-shadow: -5px 3px 5px 0px rgba(0,0,0,0.18);
}

.image-settings i {
    font-size: 20px;
    margin:0 20px;
    color: #4D4DBF;
    cursor: pointer;
}

.personal-info-form{
    margin-top: 50px;
    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: #4D4DBF;
    }
    input {
    
        padding: 10px;
        margin-bottom: 5px;
        border: none;
        border-radius: 15px;
        font-size: 18px;
        color: #808080;
        background-color: #E3E3F0;
    }
}




.warning {
    color: #000 !important;
    background-color: #fff !important;
    border: 2px solid #E7BA46 !important;
}
.error{
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #e74646 !important;
}

button {
    background-color: rgba(57, 109, 253, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 17px;
    font-size: 17px;
    margin-top: 15px;
    cursor: pointer;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-direction: column;
}
.col-md-6.vertical-line {
    position: relative; /* Ensure relative positioning for absolute positioning of pseudo-element */
  }
.col-md-6.vertical-line::after {
    content: '';
    position: absolute;
    top: 0;
    transform: translate(0,12.5%);
    bottom: 0;
    right: 0;
    width: 2px; /* Adjust thickness of the line */
    height: 75%;
    background-color: rgba(72, 72, 72, 0.8); /* Adjust color of the line */
    transform: translateY(12.5%);
    
}