/* styles.css */
.container {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-bottom: 20px;
    width: 100%;
}

.logo img {
    margin: auto;
    display: block;
    cursor: pointer;
    width: 200px;
}

.vertical-line {
    background-color: #D9D9D9;
    height: 100;
    width: 4px;
    border-radius: 25px;
}

.upload-area {
    align-self: right;
    align-items: center;
    margin:0 0 20px 0;
    
    width: 40%;
}

.upload-area img {
    max-width: 100%;
    border-radius: 10px;
  
}

.image-settings {
    text-align: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.image-settings i {
    font-size: 20px;
    margin:0 20px;
    color: #4D4DBF;
    cursor: pointer;
}

.personal-info-form {
    width: 40%;
}

.personal-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.personal-info-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #4D4DBF;
}

.personal-info-form input {
    width: 200px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: #808080;
    background-color: #E3E3F0;
}

.warning {
    color: #000 !important;
    background-color: #fff !important;
    border: 2px solid #E7BA46 !important;
}

button {
    background-color: rgba(57, 109, 253, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 27px;
    font-size: 17px;
    cursor: pointer;
}
