<div class="logo">
        <img src="assets/images/logo.jpeg" alt="Logo" routerLink="">
    
</div>
<div class="container">
    <div class="upload-area">
        <img src="assets/images/images.jpeg" alt="Upload" class="upload-icon"/>
        <div class="image-settings">
            <i class="fa-regular fa-magnifying-glass-plus"></i>
            <i class="fa-solid fa-rotate-left"></i>
            <i class="fa-solid fa-rotate-right"></i>
            <i class="fa-regular fa-magnifying-glass-minus"></i>
        </div>
    </div>
    
    <!-- vertical line in the middle of the page -->
    <div class="vertical-line"></div>

    <form class="personal-info-form">
        <div class="personal-info">
            <div>
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" value="Oussama">
            </div>

            <div>
                <label for="last-name">Last Name</label>
                <input type="text" class="warning" id="last-name" value="Alaoui">
            </div>
        </div>

        <div class="personal-info">
            <div>
                <label for="passport-number">Passport Number</label>
                <input type="text" id="passport-number" value="NP254851">
            </div>

            <div>
                <label for="national-id">National ID (N CIN)</label>
                <input type="text" class="warning" class="warning" id="national-id" value="CD548752">
            </div>
        </div>

        <div class="personal-info">
            <div>
                <label for="date-of-issuance">Date of Issuance</label>
                <input type="text" id="date-of-issuance" value="05/04/2024">
            </div>

            <div>
                <label for="date-of-expiry">Date of Expiry</label>
                <input type="text" id="date-of-expiry" value="05/04/2029">
            </div>
        </div>

        <div class="personal-info">
            <div>
                <label for="date-of-birth">Date of Birth</label>
                <input type="text" id="date-of-birth" class="warning" value="05/04/2024">
            </div>

            <div>
                <label for="place-of-birth">Place of Birth</label>
                <input type="text" id="place-of-birth" value="RABAT MAROC">
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
