.logo img {
    margin: auto;
    margin-bottom: 30px;
    display: block;
    cursor: pointer;
    width: 200px;
}

.col-md-6.vertical-line {
    position: relative; /* Ensure relative positioning for absolute positioning of pseudo-element */
  }
.col-md-6.vertical-line::after {
    content: '';
    position: absolute;
    top: 0;
    transform: translate(0,12.5%);
    bottom: 0;
    right: 0;
    width: 2px; /* Adjust thickness of the line */
    height: 75%;
    background-color: rgba(72, 72, 72, 0.8); /* Adjust color of the line */
    transform: translateY(12.5%);
    
}