<div class="container text-center">
    <div class="row">
        <div class="col-6 vertical-line">
            <div class="left-box">
                <div class="col-12 title">
                    <h2>Upload Image</h2>
                </div>
                <div class="col-12">
                    <div class="drop-zone text-center" appDragDrop (files)="filesDropped($event)">
                        <img src="assets/icons/uplaod-image-icone.png" *ngIf="file === null">
                        <div class="track">
                            <img *ngIf="file" [src]="file.url" width="300px" >
                        </div>
                        <h3>Drag and Drop files</h3>
                        <p>or</p>
                        <div class="file-input-container">
                            <input type="file" id="fileInput" class="file-input">
                            <label for="fileInput" class="file-input-label">Browse</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 btns">
                    <button class="my-btn" (click)="sendFile()" routerLink="verification">Extract</button>
                    <button class="my-btn outline" aria-label="Close" (click)="activeModal.dismiss('Cross click')">cancel</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="right-box">
                <div class="col-12 title">
                    <h2>test</h2>
                </div>
            </div>
        </div>
    </div>
</div>
  